/*����ʹ�þ���ͼ�� class  ��icon_��ʼ������class������Щ����*/
[class^="icon_"] {
  background: url("img/paying-1.png") no-repeat;
  /*ѹ������ͼ*/
  background-size: 5.33333333rem 5.33333333rem;
}
/*����ͨ��*/
.topBar {
  height: 4.33333333rem;
  background: #4DBAFF;
  border-bottom: 0.01333333rem solid #e0e0e0;
  width: 100%;
  padding: 0.4rem;
}
.B_top {
  height: 1.17333333rem;
  padding: 0 1.33333333rem;
  position: relative;
}
.topBar [class^="icon_"] {
  position: absolute;
  top: 0.26666667rem;
  background-origin: content-box;
  background-clip: content-box;
}
.topBar .icon_back {
  width: 0.8rem;
  height: 0.58666667rem;
  padding: 0.13333333rem 0.10666667rem 0.04rem;
  left: 0.2rem;
  background-position: 0 0;
}
.topBar .icon_menu {
  width: 0.93333333rem;
  height: 0.58666667rem;
  padding: 0.16rem 0.10666667rem 0.08rem;
  right: 0.2rem;
  background-position: -0.66666667rem 0;
}
.topBar form {
  width: 100%;
  position: relative;
  /*padding: 0 60px;*/
}
.topBar form input {
  width: 100%;
  height: 0.77333333rem;
  border: 0.01333333rem solid #e0e0e0;
  border-radius: 0.13333333rem;
  margin-top: 0.2rem;
  text-align: center;
  min-width: 2.66666667rem;
}
.topBar .icon_search {
  height: 0.38666667rem;
  width: 0.38666667rem;
  background-position: 0 -0.53333333rem;
  position: absolute;
  left: 1.66666667rem;
  top: 0.4rem;
}
.topBar .B_foot {
  width: 100%;
  padding: 0 1.33333333rem;
  height: 2.64rem;
}
.topBar .B_foot li:first-child {
  float: left;
}
.topBar .B_foot li:last-child {
  float: right;
}
.topBar .B_foot li img:first-child {
  width: 1.6rem;
  height: 1.6rem;
  display: block;
  margin: 0 auto;
}
.topBar .B_foot li img:last-child {
  width: 1.6rem;
  height: 1.6rem;
  display: block;
  margin: 0 auto;
}
.topBar .B_foot li p {
  font-size: 0.16rem;
  text-align: center;
  color: #666;
  padding: 0.08rem 0;
}
.list {
  height: 6.17333333rem;
  width: 100%;
  padding: 0.4rem;
  overflow: hidden;
}
.list > ul:nth-child(1) {
  width: 200%;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
}
.list .uu ul {
  width: 100%;
  float: left;
}
.list .uu ul:last-child {
  display: none;
}
.list ul > li {
  float: left;
  width: 25%;
  margin-top: 0.26666667rem;
}
.list li a {
  width: 100%;
  display: block;
}
.list li a img {
  width: 1.10666667rem;
  height: 1.12rem;
  margin: 0 auto;
  display: block;
}
.list p {
  font-size: 0.24rem;
  text-align: center;
  padding: 0.08rem 0;
}
.point {
  margin-left: 45%;
  margin-top: 0.4rem;
}
.point div {
  display: inline-block;
  width: 0.26666667rem;
  height: 0.26666667rem;
  border-radius: 0.13333333rem;
  background: #4DBAFF;
  margin-left: 0.26666667rem;
  float: left;
}
.ques {
  height: 7.38666667rem;
  width: 100%;
  background: #4DBAFF;
  padding: 0.4rem;
}
.ques .ques_box {
  width: 100%;
  height: 6.58666667rem;
  background: #fff;
  border-radius: 0.13333333rem;
}
.ques_box .ques_list li {
  height: 0.8rem;
  border-bottom: 0.01333333rem solid #CCCCCC;
  padding: 0.13333333rem 0.26666667rem;
  position: relative;
}
.ques_box .ques_list li i {
  color: #3C78DB;
}
.ques_box .ques_list li span {
  position: absolute;
  right: 0.13333333rem;
}
