@charset "UTF-8";
html {
  height: 115%;
}
body html {
  min-width: 4.26666667rem;
  max-width: 10rem;
  background: red;
  height: 138%;
  width: 10rem;
  height: 17.78666667rem;
  margin: 0 auto;
}
ul {
  text-align: center;
}
a {
  text-decoration: none;
}
/*父盒子样式*/
.travel_movie {
  width: 10rem;
  height: 17.25333333rem;
  margin: 0 auto;
}
/*头部 begin*/
/*头部父盒子样式*/
.head {
  height: 1.12rem;
  background: skyblue;
  position: relative;
  padding-top: 0.13333333rem;
}
/*头部左边子盒子样式*/
.head .head_left {
  width: 0.2rem;
  height: 0.36rem;
  background: url(img/sprite.png) no-repeat 0 0;
  background-size: 8.8rem 5.86666667rem;
  margin: 0.26666667rem 0.4rem 0 0.4rem;
  display: inline-block;
  float: left;
}
.head .head_left a {
  display: inline-block;
  width: 100%;
  height: 100%;
}
/*中间标题一样式*/
.head .head_one a {
  color: white;
}
.head .head_one {
  width: 1.96rem;
  height: 0.74666667rem;
  background: blue;
  float: left;
  display: inline-block;
  margin-left: 2rem;
  margin-top: 0.02666667rem;
  text-align: center;
  line-height: 0.74666667rem;
  border-radius: 0.37333333rem 0 0 0.37333333rem;
  font-size: 0.37333333rem;
}
/*中间标题二样式*/
.head .head_two a {
  color: blue;
}
.head .head_two {
  width: 1.96rem;
  height: 0.74666667rem;
  background: white;
  float: left;
  display: inline-block;
  margin-right: 0.06666667rem;
  margin-top: 0.02666667rem;
  text-align: center;
  line-height: 0.74666667rem;
  border-radius: 0 0.37333333rem 0.37333333rem 0;
  font-size: 0.37333333rem;
}
/*右边子盒子样式*/
.head .head_right {
  width: 0.93333333rem;
  height: 0.21333333rem;
  background: url(img/sprite.png) no-repeat -0.21333333rem 0;
  background-size: 8.8rem 5.86666667rem;
  margin-right: 0.26666667rem;
  margin-top: 0.4rem;
  display: inline-block;
  float: right;
  line-height: 0.36rem;
  position: absolute;
  top: 0.1rem;
  right: 0.2rem;
}
/*头部 end*/
/*轮播图 begin*/
.banner {
  width: 100%;
  position: relative;
  overflow: hidden;
}
.banner ul:nth-child(1) {
  /*这个时候我们需要放下10张图片  我们宽度就要是父容器宽度的10倍*/
  width: 1000%;
  -webkit-transform: translateX(-10%);
  transform: translateX(-10%);
}
.banner ul:nth-child(1) li {
  width: 10%;
  float: left;
}
.banner ul:nth-child(1) li a {
  width: 100%;
  display: block;
}
.banner ul:nth-child(1) li a img {
  width: 100%;
  display: block;
  /*清除间距*/
}
.banner ul:nth-child(2) {
  position: absolute;
  /*绝对定位的盒子怎么居中 left 50% maegin-left 一半的宽度 而且是负的*/
  width: 118px;
  height: 6px;
  left: 50%;
  bottom: 5px;
  margin-left: -59px;
}
.banner ul:nth-child(2) li {
  float: left;
  width: 6px;
  height: 6px;
  border: 1px solid #fff;
  border-radius: 3px;
  margin-left: 10px;
}
.banner ul:nth-child(2) li.now {
  background: #fff;
}
.banner ul:nth-child(2) li:first-child {
  margin-left: 0;
}
/*轮播图 end*/
/*导航栏 begin*/
/*导航栏 图片样式*/
.nav img {
  width: 1.22666667rem;
  height: 1.22666667rem;
}
/*导航栏 li样式*/
.nav li {
  display: inline-block;
  padding: 0.44rem;
  text-align: center;
}
/*导航栏文字的样式*/
.nav li p {
  font-size: 0.33333333rem;
  margin-top: 0.16rem;
  color: black;
}
/*导航栏 end*/
/*电影 begin*/
/*电影父盒子的样式*/
.movie {
  margin: 0 auto;
  height: 0.66666667rem;
}
/*图片的样式*/
.movie img {
  width: 2.76rem;
  height: 4.74666667rem;
}
.movie li {
  display: inline-block;
  margin-top: 0.2rem;
  text-align: center;
  padding: 0 0.02666667rem;
}
/*文字样式*/
.movie li p {
  font-size: 0.4rem;
  margin-top: 0.16rem;
  color: black;
  text-align: center;
}
.movie ul {
  padding-bottom: 0.13333333rem;
}
/*电影 end*/
