<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>class3</title>
    <link rel="stylesheet" href="css/base.css"/>
    <link rel="stylesheet" href="css/class.css"/>
</head>
<script src = "lib/jquery.min.js"></script>
<script src="lib/fixScreen750.js"></script>
<script src="lib/template-native.js"></script>
<script src="js/class3.js"></script>
<body>
<!-- header B -->
<header>
    <a href="index.html"><div class="logo fl"></div></a>
    <!--<div class="logo fl"></div>-->
    <a class="app fr"></a>
</header>
<!-- header E -->
<!-- search B -->
<div class="search">
    <input type="search" class="sou fl" placeholder="请输入你想比价的商品"/>
    <input type="button" class="an fr" value="搜索"/>
</div>
<!-- search E -->
<!-- topOne B -->
<div class="topOne">
    首页&gt;全部分类&gt;
</div>
<!-- topOne E -->
<!-- topTwo B -->

<!-- topTwo E -->
<!-- brand B -->
<div class="brand">

</div>
<!-- brand E -->
</body>
<script type="text/template" id="msg">
    <div class="topTwo">
        热门品牌排行
    </div>
    <% for(var i=0; i<result.length; i++){ %>
    <a class="mbrand" href="class2.html?id=<%= result[i].brandTitleId %>">
        <%= result[i].brandTitle %>
        <div class="more"></div>
    </a>
    <% } %>
</script>


<script type="text/template" id="msg3">
    <div class="topTwo">
        销量排行
    </div>
    <% for(var i=0; i<result.length; i++){ %>
    <a class="mbrandproductlist">
        <div class="img fl"><%=# result[i].productImg %></div>
        <div class="info fr">
            <div class="TVname"><%= result[i].productName %></div>
            <div class="price"><%= result[i].productPrice %><span>★★★★★</span></div>
            <div class="msg"><span><%= result[i].productQuote %></span>&nbsp;&nbsp;&nbsp;&nbsp;<span><%= result[i].productCom %></span></div>
        </div>
    </a>
    <% } %>
</script>
</html>