@charset "UTF-8";
//函数,rem适配
@function torem($px){//$px为需要转换的字号
  @return $px / 75px * 1rem; //40px为根字体大小
}
////////////使用示例///////////
//header {                  //
//  width: torem(750px);    //
//  height: torem(30px);    //
//  font-size: torem(20px);}//
//////////////////////////////
//定义占位符
%ml {
  margin-left: torem(10px);
}
body {
  background: #FFFFDD;
  .inputs {
    height: torem(954px);
    margin-bottom: torem(20px);
  }
  img.bg {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: torem(915px);
  }
  div.fg {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: torem(475px);
    background: url(../images/fg2.png);
    background-size: torem(750px) torem(475px);
    animation: a 4s linear 0s infinite;
  }
  .inp {
    position: absolute;
    top: torem(686px);
    left: 50%;
    margin-left: torem(-217.5px);
    width: torem(435px);
  }
}
/*input*/
.inp{
  input {
    overflow: hidden;
    width: torem(435px);
    height: torem(79px);
    border-radius: torem(18px);
    border: solid torem(1px) #417CDA;
    background: transparent;
    float: left;
    padding-left: torem(77px);
    font-size: torem(32px);
    color: #999999;
  }
  .icon-user {
    position: absolute;
    left: torem(24px);
    top: torem(18px);
    background: url("../images/l2.png") no-repeat 0 0;
    width: torem(33px);
    height: torem(47px);
    background-size:contain;
  }
  .icon-pwd {
    position: absolute;
    left: torem(24px);
    bottom: torem(113px);
    background: url("../images/l3.png") no-repeat 0 0;
    width: torem(33px);
    height: torem(47px);
    background-size:contain;
  }
  input:nth-child(2) {
    margin-bottom: torem(16px);
  }
  input:nth-child(4) {
    margin-bottom: torem(16px);
  }
  input.submit {
    background: #4788ee;
    color: white;
    font-size: torem(36px);
    font-family: STXihei;
    padding-left: 0;
    text-align: center;
    border: solid torem(1px) #00163B;
    background: -webkit-linear-gradient(#4788ee, #376CB5); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(#4788ee, #376CB5); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(#4788ee, #376CB5); /* Firefox 3.6 - 15 */
    background: linear-gradient(#4788ee, #376CB5);
    box-shadow: torem(0px) torem(-2px) torem(10px) #376CB5 inset;
    z-index: 2;
  }
}
/*other begin*/
.ispwd {
  width: torem(400px);
  //height: torem(25px);
  margin: 0 auto;
  a {
    display: inline-block;
    font: #{torem(26px)} STXihei;
    color: #969696;
  }
  a:nth-child(1) {
    float: left;
  }
  a:nth-child(2) {
    float: right;
  }
}
.third-part {
  //background: pink;//@T
  margin: 0 auto;
  width: torem(434px);
  padding-top: torem(42px);
  .title {
    width: torem(434px);
    height: torem(25px);
    position: relative;
    .line {
      position: absolute;
      width: 100%;
      height: torem(1px);
      background: #417CDA;
      margin-top: torem(12px);
    }
    .text {
      position: absolute;
      left: 50%;
      margin-left: torem(-110px);
      top: 0;
      display: inline-block;
      width: torem(220px);
      text-align: center;
      font: #{torem(28px)} STXihei;
      color: #969696;
      background: #FFFFDD;
    }
  }
  .entrance {
      margin-top: torem(30px);
      @for $i from 0 through 3 {
        .item-#{$i} {
          background: url(../images/sprite.png);
          display: inline-block;
          width: torem(61px);
          height: torem(61px);
          -webkit-background-size: torem(244px) torem(61px);
          background-size: torem(244px) torem(61px);
          background-position-x: $i*torem(61px);
          background-position-y: 0;
          margin: 0 torem(22px);
        }
    }
  }
}
/*other end*/
/*animation begin*/
@keyframes a {
  0% {
    background-position: torem(-750px) torem(475px);
    opacity: 0;
  }
  50% {
    background-position: 0 0;
    opacity: 0.7;
  }
  100% {
    background-position: torem(750px) torem(-475px);
    opacity: 0;
  }
}
/*animation end*/
/*common css start*/
.inp-respond {
  box-shadow: torem(0px) torem(0px) torem(10px) #417CDA inset;
  border-color: #000;
}
/*common css end*/