@charset "UTF-8";
/*rem*/
@font-face {
  font-family: "iconfont";
  src: url("../fonts/iconfont.eot");
  /* IE9*/
  src: url("../fonts/iconfont.eot#iefix") format("embedded-opentype"), url("../fonts/iconfont.woff") format("woff"), url("../fonts/iconfont.ttf") format("truetype"), url("../fonts/iconfont.svg#iconfont") format("svg");
  /* iOS 4.1- */ }
.iconfont {
  font-family: "iconfont" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
  font-size: 0.66667rem;
  color: white; }

.iconfont2 {
  font-family: "iconfont" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
  font-size: 0.26667rem;
  color: black; }

.iconfont3 {
  font-family: "iconfont" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
  font-size: 0.45333rem;
  color: #808080; }

.iconfont4 {
  font-family: "iconfont" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
  font-size: 0.45333rem;
  color: red; }

i.iconfont4 {
  padding-right: 0.26667rem;
  display: none; }

body {
  height: 100%;
  background: #F1F1F1;
  color: black;
  list-style: none; }

a {
  text-decoration: none !important; }

.head {
  overflow: hidden;
  width: 10rem;
  height: 1.2rem;
  margin: 0 auto;
  background: #FF841D;
  position: relative; }
  .head .back {
    margin-top: 0.29333rem;
    margin-left: 0.48rem; }
  .head h3 {
    width: 2.13333rem;
    position: absolute;
    left: 50%;
    margin-left: -1.06667rem;
    margin-top: 0.29333rem;
    display: inline-block;
    font-size: 0.53333rem;
    font-weight: bold;
    font-family: "瀹嬩綋";
    color: white; }
  .head .down {
    margin-top: 0.16rem;
    margin-right: 0.4rem; }
  .head .down > img {
    width: 0.90667rem;
    height: 0.90667rem; }

.menu {
  width: 10rem;
  margin: 0 auto;
  background: white;
  font-family: "瀹嬩綋";
  border-bottom: solid 0.02667rem #F1F1F1;
  margin-bottom: 0.26667rem;
  background: #F1F1F1; }
  .menu .filter {
    width: 10rem;
    height: 1.01333rem;
    list-style: none;
    background: white;
    margin-bottom: 0.02667rem; }
    .menu .filter a {
      text-decoration: none; }
    .menu .filter ul {
      width: 100%; }
    .menu .filter li {
      float: left;
      line-height: 1.01333rem;
      text-align: center;
      font-size: 0.45333rem; }
      .menu .filter li i {
        margin-left: 0.21333rem; }
    .menu .filter ul:nth-child(1) li:nth-child(1) {
      width: 26%; }
    .menu .filter ul:nth-child(1) li:nth-child(2) {
      width: 26%; }
    .menu .filter ul:nth-child(1) li:nth-child(3) {
      width: 35%; }
    .menu .filter ul:nth-child(1) li:nth-child(4) {
      width: 13%;
      border-left: solid 0.02667rem #F1F1F1; }
  .menu .shop {
    margin: 0 auto;
    width: 10rem;
    position: absolute;
    z-index: 99;
    background: #F1F1F1; }
    .menu .shop li {
      line-height: 1.06667rem;
      width: 100%;
      height: 1.06667rem;
      margin-bottom: 0.02667rem;
      background: white;
      padding-left: 0.26667rem;
      font-family: "瀹嬩綋";
      font-size: 0.42667rem;
      float: left; }

.content {
  margin: 0 auto;
  width: 10rem;
  list-style: none; }
  .content .items {
    float: left;
    width: 50%; }
    .content .items li {
      margin: 0;
      float: left; }
    .content .items .space {
      width: 2%;
      height: 5.97333rem; }
    .content .items .item {
      width: 96%;
      height: 5.97333rem;
      background: white;
      display: inline-block;
      margin-bottom: 0.26667rem; }
      .content .items .item .itemPic {
        width: 100%;
        height: 4.69333rem; }
        .content .items .item .itemPic img {
          width: 100%;
          height: 100%; }
      .content .items .item .itemTit {
        width: 100%;
        height: 0.42667rem;
        font-size: 0.32rem;
        font-family: "瀹嬩綋";
        text-align: center;
        line-height: 0.42667rem;
        overflow: hidden;
        padding: 0 0.32rem; }
      .content .items .item .itemPri {
        width: 100%;
        height: 0.85333rem; }
        .content .items .item .itemPri span {
          float: left;
          color: red;
          font-size: 0.42667rem;
          margin-top: 0.16rem;
          margin-left: 0.16rem; }
        .content .items .item .itemPri a {
          float: right;
          height: 0.61333rem;
          width: 1.65333rem;
          background: #FF9501;
          color: white;
          font-size: 0.37333rem;
          line-height: 0.61333rem;
          text-align: center;
          border-radius: 0.10667rem;
          margin-right: 0.16rem;
          margin-top: 0.16rem;
          font-family: "瀹嬩綋"; }

.footer {
  margin: 0 auto;
  padding-top: 0.66667rem;
  width: 10rem;
  height: 3.2rem;
  background: #F1F1F1; }
  .footer .list {
    border: solid 0.02667rem #DCDCDC; }
    .footer .list li {
      float: left;
      list-style: none;
      font-size: 0.37333rem;
      text-align: center;
      line-height: 0.93333rem;
      color: black; }
      .footer .list li a {
        display: inline-block;
        width: 100%;
        height: 100%; }
    .footer .list .li1 {
      width: 29%;
      height: 0.93333rem; }
    .footer .list .li2 {
      width: 30%;
      height: 0.93333rem;
      border-style: solid;
      border-width: 0 0.02667rem;
      border-color: #DCDCDC; }
    .footer .list .li3 {
      width: 41%;
      height: 0.93333rem; }
  .footer .ps {
    width: 100%;
    text-align: center;
    font-size: 0.34667rem; }

/*# sourceMappingURL=gsproduct.css.map */
