@charset "utf-8";
*,
::before,
::after {
  padding: 0;
  margin: 0;
  /*在移动端特殊的设置*/
  /*清除点击高亮效果*/
  -webkit-tap-highlight-color: transparent;
  /*设置所有的盒子的宽度以边框开始计算*/
  -webkit-box-sizing: border-box;
  /*要兼容 webkit 浏览器内核厂商 这种情况一般是老的移动端浏览器*/
  box-sizing: border-box;
}
body {
  font-size: 0.18666667rem;
  color: #333;
  font-family: "MicroSoft YaHei", "sans-serif";
  /*是设备默认的字体*/
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
  color: #333;
}
a:hover {
  color: #333;
}
input,
textarea {
  border: none;
  outline: none;
  resize: none;
  /*特殊的属性定义  清除浏览器给input自带的样式*/
  -webkit-appearance: none;
  /*组件默认的样式空*/
}
/*common css  也就是我们公用的css*/
.f_left {
  float: left;
}
.f_right {
  float: right;
}
.clearfix::after,
.clearfix::before {
  content: ".";
  line-height: 0;
  height: 0;
  display: block;
  visibility: hidden;
  clear: both;
}
.m_r10 {
  margin-right: 0.13333333rem;
}
.m_l10 {
  margin-left: 0.13333333rem;
}
.m_t10 {
  margin-top: 0.13333333rem;
}
.m_b10 {
  margin-bottom: 0.13333333rem;
}
.mianColor {
  color: #d8505c;
}
/*所有使用精灵图的 class  以icon_开始的所有class都有这些属性*/
[class^="icon_"] {
  background: url("../images/smart.png") no-repeat;
  /*压缩背景图*/
  background-size: 8.8rem 5.86666667rem;
}
.pro_topBar {
  height: 1.17333333rem;
  background: #4DB9FF;
  border-bottom: 0.01333333rem solid #e0e0e0;
  position: relative;
  width: 100%;
}
.pro_topBar [class^="icon_"] {
  width: 1.17333333rem;
  height: 1.17333333rem;
  position: absolute;
  top: 0;
  background-origin: content-box;
  /*定位以内容开始定位*/
  background-clip: content-box;
  /*显示背景 从内容开始显示*/
}
.pro_topBar .icon_back {
  padding: 0.42666667rem 0 0.42666667rem 0.4rem;
  left: 0;
  background-position: 0 -0.4rem;
}
.pro_topBar .icon_menu {
  padding: 0.48rem 0.33333333rem 0.48rem 0rem;
  right: 0;
  background-position: 0 -0.93333333rem;
}
.pro_topBar h3 {
  margin: 0;
  text-align: center;
  line-height: 1.17333333rem;
  font-weight: normal;
  font-size: 0.53333333rem;
  color: #fff;
}
.pro_content {
  height: 5.2rem;
  position: relative;
  background: #E8E8E8;
  border-top: 0.01333333rem solid #e0e0e0;
}
.pro_content .pro_banner {
  width: 100%;
  position: relative;
  overflow: hidden;
}
.pro_banner ul:nth-child(1) {
  width: 1000%;
  -webkit-transform: translateX(-10%);
  transform: translateX(-10%);
}
.pro_banner ul:nth-child(1) li {
  width: 10%;
  float: left;
}
.pro_banner ul:nth-child(1) li a {
  width: 100%;
  display: block;
}
.pro_banner ul:nth-child(1) li a img {
  width: 100%;
  display: block;
}
.pro_banner .pro_bannerDown {
  display: block;
  width: 100%;
  position: absolute;
  margin-bottom: 0;
  bottom: 0;
  height: 0.42666667rem;
  background: #000;
  opacity: 0.6;
}
.pro_banner ul:nth-child(3) {
  position: absolute;
  width: 3.2rem;
  height: 0.26666667rem;
  left: 50%;
  bottom: 0;
  margin-left: -1.6rem;
  margin-bottom: 0.08rem;
}
.pro_banner ul:nth-child(3) li {
  float: left;
  width: 0.26666667rem;
  height: 0.26666667rem;
  border: 0.01333333rem solid #F3F3F3;
  border-radius: 50%;
  margin-left: 0.26666667rem;
  background: #F3F3F3;
}
.pro_banner ul:nth-child(3) li.now {
  background: #3B77DB;
  border: 0.01333333rem solid #3B77DB;
}
.pro_banner ul:nth-child(3) li:first-child {
  margin-left: 0;
}
.pro_product {
  width: 100%;
  background: #F3F3F3;
  position: relative;
  padding: 0 0.4rem 0;
}
.pro_product .pro_add .pro_hint {
  font-size: 0.28rem;
  width: 100%;
  padding: 0.26666667rem;
  padding-left: 0.48rem;
  color: #000;
}
.pro_product .pro_add .pro_hint::before {
  content: " ";
  height: 0.25333333rem;
  width: 0.48rem;
  display: inline-block;
  background: url("../images/smart.png") no-repeat;
  background-size: 8.8rem 5.86666667rem;
  background-position: -0.8rem 0;
}
.pro_product .pro_add .pro_address {
  border-bottom: 0.01333333rem solid #DDDDDD;
  padding: 0.26666667rem;
}
.pro_product .pro_address .img_box {
  width: 2rem;
  height: 2rem;
  float: left;
}
.pro_product .pro_address .img_box img {
  display: block;
  width: 100%;
  height: 100%;
}
.pro_product .pro_address .info_box {
  position: relative;
  overflow: hidden;
  height: 2rem;
}
.pro_product .pro_address .info_box .name {
  color: #000;
  width: 100%;
  font-size: 0.28rem;
  position: absolute;
  margin: 0.26666667rem 0.26666667rem;
}
.pro_product .pro_address .info_box .dis {
  color: #777777;
  width: 100%;
  position: absolute;
  font-size: 0.2rem;
  bottom: 0;
  margin: 0.13333333rem 0.26666667rem;
}
.pro_product .pro_proBox {
  padding: 0.33333333rem 0.26666667rem;
  border-bottom: 0.01333333rem solid #DDDDDD;
}
.pro_product .pro_proBox .pro_proBox_inner {
  height: 2.66666667rem;
  background: #000;
}
.pro_product .pro_proBox a {
  background: url("../images/smart.png") no-repeat;
  background-size: 8.8rem 5.86666667rem;
  width: 0.26666667rem;
  height: 0.34666667rem;
  float: left;
  background-position: 0 0;
  margin-top: 0.13333333rem;
}
.price {
  color: #000;
  font-size: 0.32rem;
  margin-top: 0.13333333rem;
  float: right;
}
.pro_product .pro_proBox .pro_proBox_inner img {
  width: 100%;
  height: 100%;
}
